<!DOCTYPE html>
<head>
    <title>ERROR</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a  class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <h1>
            Soory! the page you looking for not found.
        </h1>
        <h3> status code: 404</h3>
        
    </div>
    <div>
        <img src="a24b3b841a4d416387c2f2f8ccf71c95.jpg" alt="sorry",width="10",height="20", style="vertical-align:middle;">
    </div>
</body>