.form-control label,
        .form-control input {
            display: block;
            width: 100%;

        }
        .form-control{
            margin: 1rem 0;
        }
        .form-control input{
            border: 2px solid rgb(78, 234, 177);
            font:inherit;
            border-radius: 2px;

        }
        button{
            font:inherit;
            border: 1px solid gray;
            color:black;

            background: white;
            border-radius: 3px;
            cursor: pointer;
        }
        button:hover,
        button:active{
            background-color:rebeccapurple;
            color:white;
        }
        .product-form{
            width: 20rem;
            max-width: 90%;
            margin:auto;
        }